.card {
    display: flex;
    flex-direction: column;
    padding: $base-padding;
    border: $base-border-thickness solid #ddd;
    box-shadow: $base-box-shadow;
    width: 275px;
    border-radius: $base-border-radius;
}


/*   .card-title {
        text-align: center;
        font-size: $font-size-sm;
        padding-bottom: $base-padding;
        font-weight: bold;
    }
    .card-body {
        font-size: $base-font-size;
    }
}*/

.cards-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 600px;
}