.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 750px;

    .card {
        flex-direction: column;
        background-color: $light-primary;
        padding: $base-padding;
        border: $base-border-thickness solid #ddd;
        box-shadow: $base-box-shadow;
        width: 240px;
        border-radius: $base-border-radius;
        margin-top: 10px;
        h1{
            font-size: 12px;
        }
            
    }
    
   
}

.section-recipe-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $light-primary;
 
    .card-recipe-info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 600px;
        background-color:$light-primary;
        border-radius: $base-border-radius;
        padding: $base-padding;
        margin-top: $base-margin;
        line-height: 1.6;
        text-align: justify;
        margin-top: 10%;

    }
    img{
        width:300px;
       border-radius: $base-border-radius;
    }
}


