//320px — 480px: Dispositivos móviles
//481px - 768px: iPads, tabletas
//769px — 1024px: pantallas pequeñas, portátiles
//1025px — 1200px: Computadoras de escritorio, pantallas grandes
@media screen and (max-width: 768px) {
    .hero-container {
        .hero-container > div {
            width: 100%;
        }
        img {
            width: 80%;
        }
        p {
            font-size: $font-size-lg;
        }
    }

    .form {
        max-width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: $font-size-sm;

        .cont-key-word,
        .cont-mealtype,
        .cont-diet {
            width: 100%;
        }

        #btn-search {
            margin-top: 10px;
            width: 100%;
            background-image: $background-gradient;
            color: $light-primary;
        }

        .btn-mode {
            width: 100%;
            margin-top: 10px;
        }
    }

    .cards-container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .card {
            width: 90%;
            font-size: $font-size-sm;
        }
    }
}

.card-recipe-info {
    max-width: 500px;
}
.card-recipe-info > div {
    margin-top: 15%;
    align-self: center;
    width: 90%;
}
