/*.loading {
    $colors:$secondary-color,$primary, $secondary-color, $primary, $secondary-color;
    display: flex;
  
    .dot {
      position: relative;
      width: 2em;
      height: 2em;
    }
  }*/