#btn-search {
    align-self: flex-end;
    justify-content: center;
    background-color: #ddd;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: $base-border-radius;
   
}

#btn-search:hover {
background-image: $background-image;
color: $white;
}

.btn-next{
    background-color:$primary;
    border: none;
    color:$white;
    padding: 18px;
    text-align: center;
    font-size:$font-size-lg;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
}

.btn-mode{
    width: 50px;
    align-self: flex-end;
    justify-content: center;
    border: none;
    color:$white;
    padding:$base-padding;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius:$base-border-radius;
    background-color:$primary;
  }
  
