@import "variables";
@import "reset";
@import "mixins";
@import "components/card";
@import "components/form";
@import "components/navbar";
@import "components/animation";
@import "components/button";

body {
    background-color:$ligh-grey;
}

.hero {
//visibility: hidden;
    @include flex($direction: row, $justify: flex-start, $align: end);
    background-image: $background-image;
    color: $white;
    font-size: $font-size-xl;
    box-shadow: $base-box-shadow;
    padding: $base-padding;
    .container-image-hero {
        width: 350px;
    }
}

.display-none {
    display: none;
}

.hidden{
    visibility: hidden;
}

.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
