@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap);
body {
  margin: 0;
  font-family: Montserrat;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

img {
  display: block;
  height: auto;
  width: 100%;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 750px;
}

.cards-container .card {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  padding: 0.75rem;
  border: 1px solid #ddd;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  width: 240px;
  border-radius: 15px;
  margin-top: 10px;
}

.cards-container .card h1 {
  font-size: 12px;
}

#form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 700px;
  background-color: #ffffff;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  border-radius: 15px;
  margin-top: 10px;
}

#form select,
#form input {
  width: 100%;
  height: 42px;
  border-radius: 0;
  background: #f0f0f0;
  font-size: 1em;
  color: #999;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  text-align: center;
}

#form #btn-search {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 15px;
}

#btn-search:hover {
  background-image: -webkit-gradient(linear, right top, left top, from(#e5a44a), color-stop(#CF8BF3), to(#A770EF));
  background-image: linear-gradient(to left, #e5a44a, #CF8BF3, #A770EF);
  color: #ffffff;
}

.nav-bar {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 20px;
  position: fixed;
  background-image: -webkit-gradient(linear, right top, left top, from(#e5a44a), color-stop(#CF8BF3), to(#A770EF));
  background-image: linear-gradient(to left, #e5a44a, #CF8BF3, #A770EF);
  color: #ffffff;
  font-size: 2rem;
}

.nav-bar img {
  width: 50px;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.loading .dot {
  position: relative;
  width: 2em;
  height: 2em;
  margin: 0.8em;
  border-radius: 50%;
}

.loading .dot::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  -webkit-animation: wave 2s ease-out infinite;
          animation: wave 2s ease-out infinite;
}

.loading .dot:nth-child(1) {
  background: #e5a44a;
}

.loading .dot:nth-child(1)::before {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.loading .dot:nth-child(2) {
  background: #a770ef;
}

.loading .dot:nth-child(2)::before {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.loading .dot:nth-child(3) {
  background: #e5a44a;
}

.loading .dot:nth-child(3)::before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.loading .dot:nth-child(4) {
  background: #a770ef;
}

.loading .dot:nth-child(4)::before {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.loading .dot:nth-child(5) {
  background: #e5a44a;
}

.loading .dot:nth-child(5)::before {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes wave {
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

@keyframes wave {
  50%,
  75% {
    -webkit-transform: scale(2.5);
            transform: scale(2.5);
  }
  80%,
  100% {
    opacity: 0;
  }
}

body {
  background-color: #efefef;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-image: -webkit-gradient(linear, right top, left top, from(#e5a44a), color-stop(#CF8BF3), to(#A770EF));
  background-image: linear-gradient(to left, #e5a44a, #CF8BF3, #A770EF);
  color: #ffffff;
  font-size: 2rem;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
}

.hero .container-image-hero {
  width: 350px;
}

.display-none {
  display: none;
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */