@import "variables";
@import "reset";
@import "mixins";
@import "components/card";
@import "components/form";
@import "components/navbar";
@import "components/animation";
@import "components/button";
@import "components/mediaqueries.scss";

body {
    background-color: $ligh-secondary;
}

.hero-container {
    display: flex;
    justify-content: center;
    background-image: $background-gradient;
    color: $light-primary;
    font-size: $font-size-xl;
    box-shadow: $base-box-shadow;
    padding: $base-padding;

    img {
        width: 250px;
    }
}

.hidden {
    visibility: hidden;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display-none {
    display: none;
}

.padding {
    padding: 50px;
}

//$primary:#a770ef;
//$secondary-color:#e5a44a;
//$error:#d32752;
//$background-gradient:linear-gradient(to left, #e5a44a, #CF8BF3, #A770EF);
//$light-primary:#ffffff;
//$ligh-secondary:#efefef;
//$dark-primary:#18191b;
//$dark-secondary:#28292b;

body.dark-mode {
    background-color: $dark-primary;
    color: $light-primary;

    .form {
        background-color: $dark-secondary;
    }
    .card {
        background-color: $dark-secondary;
    }
    .section-recipe-info{
        background-color:$dark-primary;  
    }
    .card-recipe-info{
        color: $light-primary;
        background-color: $dark-secondary;
    }
}

